
.titulo{    
    width: 100%;

    
}
.titulo h2{ 
    margin-left:10%;
    width: 80%;             /* O la anchura que necesites */
    height: auto;           /* O la altura que necesites */
    text-align: center;
    color:gray;
    font-size:large;
   
}

.titulo h1{
    margin-top:1%;
    margin-left:25%;
    width: 50%;             /* O la anchura que necesites */
    height: auto;           /* O la altura que necesites */
    text-align: center;
    color:black;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    
    
}       
.section1{
    margin-top: 10%;
    width: 80%;
    height: 80%;
    margin-left:10%;
}

.section1 h2{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    
}
.div1 {
    color:black;
    font-family:serif;
    text-align: center;
}

/* Estilos para los botones de control del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 204, 255, 0.7);
}
